# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env
.env*.local
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Excel 원본 (선택) — 변환된 JSON만 커밋해도 됨
# *.xlsx
